:root {
    --main-color: #19c8fa;
    --opacity-color: rgba(15, 116, 143 , 0.7);
    --main-padding: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans" , sans-serif;
}





/* main-heading */

.main-heading {
    width: 100%;
    text-align: center;
}
.main-heading h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 70px;
    position: relative;
}
.main-heading h2:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px black solid;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.main-heading h2:after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading p {
    color: #777;
    line-height: 1.6;
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 100px;
}
/* main-heading */
















/* start heading */

header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
}

header .container {
    min-height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

header .container img {
    height: 30px;
}

#navbar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

}

#navbar::after {
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 1;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 970px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container  {
        width: 1170px;
    }
}



 header ul {
    display: flex;
}
header ul li a {
    padding: 40px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    display: block;
    position: relative;
    z-index: 2;
}
header ul li a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) solid 1px;
}
header #navbar ul li:nth-child(1) a {
    color: var(--main-color);
    border-bottom: var(--main-color) solid 1px;
}
header form {
    margin-left: 40px;
}
header form::before {
    content: "";
    background-color: white;
    height: 30%;
    width: 1px;
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
}
.search {
    color: white;
    font-weight: bold;
}

i.burger {
    color: white;
    font-size: 1.3rem;
    display: none;
    transition: 0.3s;
}


@media (max-width:767px) {
    .burger:hover + ul {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb (0 0 0 / 50%);
    }
    i.burger {
        display: block;
    }
    #navbar ul li {
        width: 100%;
    }
    #navbar ul li a{
        padding: 15px;
    }
    #navbar ul {
        display: none;
    }
}



/* end heading */



















/* start landing */

.landing {
    background-image: url("../images/landing.jpg");
    min-height: 100vh;
    background-color: #1f2021;
    background-size: cover;
    position: relative;
}
.overlay {
    background-color: rgba(0, 0, 0 , 60%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 50px;
    width: 50%;
    background-color: var(--opacity-color);
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.landing .text .content {
    position: relative;
    max-width: 500px;

}
.landing .content h3 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.landing .content p {
    line-height: 2;
    font-size: 15px;

}
.landing .arrows i{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.landing .arrows i:nth-child(1) {
    left: 30px;
}
.landing .arrows i:nth-child(2) {
    right: 30px;
}
.landing ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing ul li {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px white;
}
.landing ul li.active {
    background-color: var(--main-color);
    border: none;
}

@media (max-width: 767px) {
    .landing .text {
        /* padding-left: 10px; */
        width: 100%;
        text-align: center;
        align-items: center;
        margin-top: 10px;
    }
    .landing .text .content {
        /* width: 70%; */
        text-align: center;
    }
    .landing .arrows i {
        display: none;
    }
}

/* end landing */


/* Services */

.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

@media (min-width:769px) {
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 0px auto;
    grid-row-gap: 60px;
    grid-column-gap: 40px;
}
} 
.services .container .box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
} 

.services .container .box i {
    font-size: 50px;
    margin: 10px 30px 0 0;
}
.services .container .box h3 {
    color: var(--main-color);
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .services .container .box {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .services .container .box i {
        margin: 50px;
    }
}
.services .container .box p {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .services .container {
        text-align: center;

    }
}

/* Services */

























/* design */

.design {
    background-image: url("../images/desgin.1.jpg");
    background-size: cover;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 600px;
}
.design::Before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.design .image {
    position: relative;
    bottom: -150px;
    text-align: center;
    flex: 1;
}


.design .our-design {
    position: relative;
    flex: 1;
    max-width: 100%;
    background: var(--opacity-color);
    padding: 50px;
    color: white;
}
.design .our-design h3{
    margin-bottom: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.design .our-design li{
    padding: 15px 25px;
}

.design .our-design li::before {
    content: '\f390';
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 20px;
    margin-left: -25px;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
}
    .design .our-design{
        width: 100%;
    } 
}

/* design */

/* portfolio */

.portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.portfolio ul.shuffle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.portfolio ul li {
    padding: 10px;
}

.portfolio ul li.active {
    background-color: var(--main-color);
    color: white;
}


.portfolio .port-photos {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .port-photos .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1199px) {
    .portfolio .port-photos .box {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .portfolio .port-photos .box {
        flex-basis: 100%;
    }
}

.portfolio .port-photos .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .port-photos .box .port-text {
    position: absolute;
    bottom: -100px;
    background-color: white;
    width: 100%;
    transition: 0.2s;
    transition-timing-function: ease-out;
}
.portfolio .port-photos .box:hover .port-text {
    bottom: 0;
}

.portfolio .port-photos .box:hover > img {
    transform: scale(1.1) rotate(4deg);
}

.portfolio .port-photos .box h4 {
    font-weight: normal;
    text-transform: capitalize;
    padding: 10px 10px 5px 20px;
}

.portfolio .port-photos .box p {
    color: var(--main-color);
    padding:0 20px 20px ;
}

.portfolio a {
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
}


/* portfolio */

/* video */

.video {
    position: relative;
}

.video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.video::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
}

.video .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: var(--opacity-color);
    text-align: center;
    padding: 50px;
    color: white;
}

.video .info h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
}
.video .info p {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.video .info a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    text-transform: uppercase;
}
@media (max-width:426px) {
    .video {
        background-image: url(../images/desgin.1.jpg);
        background-size: cover;
        width: 100%;
    }

    .video .info {
        margin-top: 100px;
        margin-bottom: 100px;
    }

}
/* video */



















/* about */

.about-us {
    padding-top: var(--main-padding);
    overflow: hidden;
    text-align: center;
}
.about-us .container {
    margin: 0 auto;

}

@media (max-width:767px) {
    .about-us {
        padding-bottom: var(--main-padding);
    }
    .about-us img {
        display: none;
    }
}
/* about */

















/* stat */

.stat {
    background-image: url(../images/stats-3.png);
    background-size: cover;
    position: relative;
    max-width: 100%;
    width: 100%;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    margin-top: -120px;
}

.stat::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
}

.stat .container {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    color: white;
    background-color: var(--opacity-color);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.stat .container .box {
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.stat .container .box i {   
     padding: 20px;
    font-size: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.stat .container .box i::after {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 7px;
        transform: translateX(-50%);

}
.stat .container .box h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}
.stat .container .box p {
    text-align: center;
    font-size: 14px;
}



/* stat */

/* testmonials */

.testmonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.testmonials .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}
.testmonials .container .test {
    flex-basis: 45%;
    position: relative;

}

.testmonials .container .test > .text , .skills .text{
    margin-bottom: 50px;
    text-align: center;
}

.testmonials .container .text h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
}
.testmonials .container .text p {
    color: #777;
    line-height: 2;
}
.testmonials .container .test .rates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.testmonials .container .test .rates > div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.testmonials .container .test .rates .text {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    border-bottom: solid 1px #ccc;
}


.testmonials .container .test .rates  img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.testmonials .container .test .rates p {
    text-align: left;
    color: black;
}
.testmonials .container .test .rates .text div {
    text-align: right;
    margin-bottom: 15px;
    color: #777;
}

.testmonials .container .test ul {
    display: flex;
    justify-content: center;
    margin-top: 40px ;
}
.testmonials .container .test ul li {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #777;
}
.testmonials .container .test ul li.active {
    background-color: var(--main-color);
    border: none;
}



.testmonials .container .skills {
    flex-basis: 45%;
    align-self: flex-start;
} 

.testmonials .container .skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
}
.testmonials .container .skills .prog-holder .prog {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    position: relative;
    margin-top: 15px;
    margin-bottom: 35px;
}
.testmonials .container .skills .prog-holder .prog span {
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
}

.testmonials .container .skills .prog-holder .prog span::Before {
    content: attr(data-progress);
    color: white;
    text-align: center;
    width: 40px;
    padding: 4px 0;
    border-radius: 4px;
    background-color: black;
    position: absolute;
    top: -40px;
    right: -18px;
}
.testmonials .container .skills .prog-holder .prog span::after {
    content: "";
    border: solid 8px;
    border-color: black transparent transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -13px;
    right: -8px;

}






@media (max-width: 767px) {
    .testmonials .container .test .rates > div {
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .testmonials .container .test .rates p {
        text-align: center;
    }

}
@media (max-width: 992px) {
    .testmonials .container {
        flex-direction: column;
    }
    .testmonials .container .skills {
        margin-top: 50px;
    }
}
/* testmonials */











/* quote */

.quote {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
}

.quote::after {
    content: "";
    background-color: rgba(0, 0, 0 , 75%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.quote .container {
    position: relative;
    color: white;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
}

.quote q {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

/* quote */




























/* pricing */

.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.pricing .container {
    margin: 0 auto;
}


.pricing .container .price-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    width: 100%;
}

.pricing .container .price-holder .box {
    text-align: center;
    background-color: #fcfcfc;
    flex-basis: calc(92.5% / 4);
    min-width: 250px;
}


.pricing .container .price-holder .box .header {
    border-top: 1px var(--main-color) solid;
    border-bottom: 1px var(--main-color) solid;
    padding: 40px 20px ;

}
.pricing .container .price-holder .box .header p {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.pricing .container .price-holder .box .header h4 {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    
}
.pricing .container .price-holder .box .header h4::before {
    content: "$";
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 24px;
    font-weight: normal;
}
.pricing .container .price-holder .box .header h4::after {
    content: "/Mo";
    position: absolute;
    bottom: 0;
    right: 30px;
    font-size: 22px;
}
.pricing .container .price-holder .box ul {
    list-style: none;
    text-align: center;
    display: block;
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .price-holder .box ul li {
    padding: 20px;
    position: relative;
}
.pricing .container .price-holder .box ul li:not(:last-of-type)::after {
    content: "";
    background-color: var(--main-color);
    width: 50%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 25%;


}


.pricing .container .price-holder .box .foot a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    
}


.pricing .container .more p {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.pricing .container .more p {
    text-align: center;
    font-size: 20px;
    margin: 50px auto 20px;
}
.pricing .container .more a {
    display: block;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 15px 30px;
    width: fit-content;
    margin: 30px auto;
    text-transform: capitalize;
}


@media (max-width: 767px) {
    .pricing .container .box {
        margin-top: 20px;
    }
}
/* pricing */



/* subscribe */

.subscribe {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.subscribe::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 50%);
    position: absolute;
    top: 0;
}
.subscribe .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;

}

@media (max-width: 992px) {
    .subscribe .container {
    flex-wrap: wrap;
    }
}

.subscribe form {
    position: relative;
    width: 500px;
    max-width: 100%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.subscribe form input:first-of-type {
    padding: 20px 20px 20px 60px;
    border: white 1px solid;
    border-right: none;
    width: calc(100% - 130px);
    background-color: transparent; 
    position: relative;
    caret-color: var(--main-color);

}
.subscribe form  i {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.subscribe form input:first-of-type::placeholder {
    color: white;
}


.subscribe form input:last-of-type {
    color: white;
    width: 130px;
    background-color: var(--main-color);
    padding: 10px 20px;
    border: white 1px solid;
    border-left: none;
    line-height: 2;
    text-transform: uppercase;
    cursor: pointer;
}



.subscribe .container p {
    margin-left: 50px;
    line-height: 2;
    color: white;
}

@media (max-width: 992px) {
    .subscribe .container p{
        margin-top: 15px;
    
    }
}

/* subscribe */

/* contact us */

.contact {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.contact .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding-left: 15px;
    padding-right: 15px;
}
.contact .container form {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.contact .container form input, textarea {
    border: #ccc solid 0.1px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
}
.contact .container form input::placeholder {
    color: #777;
}

.contact .container form input[type="submit"] {
    width: fit-content;
    color: white;
    background-color: var(--main-color);
    padding: 20px;
    text-transform: uppercase;
    align-self: flex-end;
}







.address-phone {
    flex-basis: 25%;

}
.address-phone .get-in-touch {
    margin-bottom: 75px;
}
.address-phone .get-in-touch h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
}
.address-phone .get-in-touch span {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.address-phone .where h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
} 
.address-phone .where span {
    display: block;
    margin-bottom: 10px;
    color: #777;
    font-style: italic;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .contact .container {
        flex-direction: column;
    }
      
    .address-phone {
        order: 1;
        text-align: center;

    }

    .contact .container form {
        order: 2;
    }
}
/* contact us */


/* footer */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}

.footer::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 70%);
    position: absolute;
    top: 0;
}

.footer .container {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}
.footer .container > img {
    width: 100px;
    align-self: center;
    margin-bottom: 20px;
} 
/* .footer .container *{
    margin-bottom: 10px;
} */
.footer .container p {
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px white solid;
}

.footer .container .icons  {
    margin: 0 auto;
    text-align: center;
}
.footer .container .icons i {
    padding: 10px 15px;
}

.footer .container .copyright {
    margin-top: 60px;
}
.footer .container .copyright span{
    color: var(--main-color);
}


/* footer */